{%load static%}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>
            {%block title %}
            엄준식
            {% endblock %}
        </title>
        {%block styles%}
        <style>
            .myclass{
                color : orange;
            }
        </style>
        {%endblock%}
        {%block script %}
        <script LANGUAGE='javascript'>
            function testFuntion(){
                alert("javascript function...");
            }
        </script>
        {%endblock%}
    </head>
    <body>
        {%block body%}
        {%endblock%}