{% extends "base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/home.js' %}">
    //ajax 삭제
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var xhr;

        function deleteBoard(bno) {

          if (confirm("삭제 하시겠습니까?") == false) {
            return false;
          }

        var strurl = "/board_delete?b_no=" + bno;

        xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            var data = xhr.responseText;

            document.getElementById("databox_" + bno).style.display = "none";

            var obj = JSON.parse(data);
            alert(obj.result_msg);
          }
        };
        xhr.open("POST", strurl);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(null);
      }

        //ajax 삭제 끝
    </script>
{% endblock %}

{% block body %}

    {% include "navbar.html" %}
    <main id = 'main'>

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
      
              <div class="d-flex justify-content-between align-items-center">
                <h2>엄준식의 게시판</h2>
                <ol>
                  <li><a href="/">Home</a></li>
                  <li>게시판 보기</li>
                </ol>
              </div>
      
            </div>
          </section><!-- End Breadcrumbs -->


          <section id="services" class="services section-bg">
            <div class="container">
      
              <div class="section-title">
                <h2>게시판 목록</h2>
                
                {% if not rsBoard %}
                <p>내용이 없다</p>
                {% endif %}
                <div>
                    <a href="board_write" class="btn btn-outline-success">작성</a>
                </div>
                <div style="margin:20px 0;">
                    {% for i in rsBoard %}
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr style="border-top:solid 1px #dddddd;" id='databox_{{ i.b_no }}'>
                                <td width="8%" align="center">{{ i.b_no }} </td>
                                <td width="25%">{{ i.b_title }} </td>
                                <td width="32%">{{ i.b_note }} </td>
                                <td width="10%" align="center">{{ i.b_writer }} </td>
                                <td width="10%" align="center">{{ i.b_date }} </td>
                                <td width="15%" align="center" style="padding:5px 0;">
                                    <a href="/board_view?b_no={{ i.b_no }}" class="btn btn-outline-success">보기</a>
                                    <a href="/board_delete?b_no={{ i.b_no }}" class="btn btn-outline-success">삭제</a>
<!--                                <a href="javascript:alert('연습해 보세요...');" class="btn btn-outline-success">Ajax삭제</a>-->
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
              </div>
            </div>
          </section>

    </main>

    {% include "footer.html" %}


{% endblock %}
